@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Montserrat", "Arial", sans-serif;
  color: #FFFFF2;
}

a {
  color: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #BF959C;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 0px 55px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1220px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 940px) {
  .container {
    max-width: none;
  }
}
.main {
  position: relative;
  /* &__codes {
  	position: absolute;
  	z-index: 9999;
  	top: 150px;
  	left: 700px;
  	background-color: #404042;
  	border-radius: 10px;
  	height: 350px;
  	width: 720px;
  	padding: 18px;
  	overflow: hidden;
  }

  &__bubbleSort {
  	color: #FFFFF2;
  	font-size: 16px;
  	line-height: 1.4em;
  } */
}
.main h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.15em;
  margin: 70px 0px 50px 0px;
}
.main__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main__rowleft {
  flex: 1 1 50%;
}
.main__rowright {
  flex: 1 1 50%;
}
.main__examples {
  font-size: 20px;
  line-height: 1.15em;
  margin: 0 0 16px 0;
}
.main__couple {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main__couple button {
  background-color: #404042;
  color: #FFFFF2;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px 0px 10px 10px;
  max-width: 100%;
}
.main__couple img {
  max-height: 70%;
  min-height: 50%;
  max-width: 60%;
  min-width: 40%;
  margin: 0px 20px;
}
.main__image {
  margin: 0px 0px 30px 50px;
  max-width: 400px;
}
.main__image img {
  width: 100%;
  border-radius: 50%;
}

.info__text {
  font-size: 24px;
  margin: 0px 0px 20px 0px;
}
.info__list {
  font-size: 20px;
  text-decoration: underline;
  line-height: 1.2em;
  margin: 0px 0px 70px 0px;
}
.info__list li {
  padding: 0px 0px 0px 18px;
  position: relative;
}
.info__list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFF2;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin: 10px 0px 0px 0px;
}